@font-face {
  font-family: "inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 8%);
  font-family: inter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: hsl(0, 0%, 12%);
  margin: 1.5em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  width: 89%;
  min-width: 20rem;
  max-width: 30rem;
}

.wrapper {
  border-radius: 50%;
  overflow: hidden;
  height: 6rem;
  width: 6rem;
}

.profile-picture {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0;
}

h2 {
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}

p {
  font-size: 0.9rem;
  margin-bottom: 1.75rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  gap: 1rem;
  text-align: center;
  align-self: stretch;
}

.social-link {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: hsl(0, 0%, 20%);
  font-weight: 600;
  transition: color 0.5s, background-color 0.5s;
}

.social-link:hover {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
  color: hsl(0, 0%, 12%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 425px) {
  main {
    padding: 2.5rem;
  }
}
